.card {
    width: 533px;
    height: auto;
    display: inline-block;
    text-align: center;
    background: #4B4F5C;
    color: #fff;
    border-radius: 12px;
    filter: drop-shadow(0 0 0.75rem rgba(34, 33, 33, 0.8));
    padding: 70px; 
    transition: transform 0.5s ease, background 0.5s ease;
    animation: fadeIn 1.2s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    background: #3a3d46;
  }
  
  .CardImage img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease;
  }
  
  .CardServices h2 {
    color: #fff;
    font-weight: 600;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
  }
  
  .CardServices p {
    padding-top: 16px;
    color: #AEAABC;
    line-height: 2;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
  }
  
  .CardServices h3 {
    font-weight: 500;
  }
  
  .CardServices h3 span {
    color: #F75023;
  }
  
  /* Animation for card on appearance */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive Design */
  @media screen and (max-width: 1024px) {
    .card {
      width: 90%;
      padding: 50px; 
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%; 
      padding: 40px; 
    }
  }
  
  @media screen and (max-width: 576px) {
    .card {
      width: 100%; 
      padding: 30px; 
      margin: 10px 0; 
    }
  }
  