.aboutSection {
    width: 100%;
    height: 110vh;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2B2D33;
    color: #fff;
}

/* Left About */
.AboutLeftSide {
    width: 50%;
    position: relative;
    padding-left: 80px;
    padding-top: 6rem;
}
#image1 {
    width: 90%;
}
#effectimage {
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.twoDivsAbout{
    position: relative;
    animation: aboutAnimation 3s infinite alternate;
}
@keyframes aboutAnimation {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
.oneAbout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4B4F5C;
    column-gap: 10px;
    padding: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
    border-radius: 20px;
    position: absolute;
    bottom: 350px;
    left: -60px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.oneAbout:hover{
    transform: scale(1.05);
}
.oneAbout h1{
    color: #1CBE59;
    font-size: 55px;
    font-weight: 600;
}
.oneAbout p{
    width: 80px;
    font-size: 18px;
    font-weight: 600;
}
.twoAbout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4B4F5C;
    column-gap: 10px;
    padding: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
    border-radius: 20px;
    position: absolute;
    top: -160px;
    right: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}
.twoAbout:hover{
    transform: scale(1.05);
}
.twoAbout h1{
    color: #6E50F0;
    font-size: 55px;
    font-weight: 600;
}
.twoAbout p{
    width: 80px;
    font-size: 18px;
    font-weight: 600;
}




/* Right About */
.AboutRightSide {
    position: relative;
    width: 50%;
    padding-right: 9%;
    padding-left: 5%;
    padding-top: 6rem;
}
.AboutRightSide h2 {
    color: #F75023;
    font-weight: 600;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}
.AboutRightSide h1 {
    font-size: 37px;
    font-weight: 600;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}
.AboutRightSide p {
    padding-top: 30px;
    color: #AEAABC;
    line-height: 2;
    padding-bottom: 50px;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}
.AboutRightSide button {
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
    background: #F65023;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    border: 2px solid #f75023;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}
.AboutRightSide button:hover {
    background: transparent;
}
.AboutRightSide img {
    position: absolute;
    right: 0;
    bottom: -70px;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}