.title{
    position: relative;
    color: #fff;
    background: #2B2D33;
}
.titleImage{
    position: absolute;
    top: 50px;
    left: 50px;
}
.titleDetails{
    display: grid;
    place-items: center;
}
.titleDetails h2{
    padding-top: 100px;
    color: #F75023;
    font-weight: 600;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}
.titleDetails h1{
    font-size: 37px;
    font-weight: 600;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}
.titleDetails p{
    text-align: center;
    width: 45%;
    padding-top: 20px;
    color: #AEAABC;
    line-height: 2;
    padding-bottom: 50px;
    filter: drop-shadow(0 0 0.75rem rgb(34, 33, 33));
}