/* Footer Container Styling */
.ContactFormList {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px; 
    color: #D5D5D6;
    list-style: none;
    background: #2B2D33;
    padding: 40px 20px;
    text-align: center;
}

/* Style for list items */
.ContactFormList li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em; 
    transition: transform 0.3s ease-in-out; 
}

.ContactFormList li:hover {
    transform: scale(1.05); 
}

.ContactFormList img {
    width: 40px;
    transition: transform 0.3s ease-in-out; 
}

.ContactFormList li:hover img {
    transform: rotate(360deg); 
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
    .ContactFormList {
        flex-direction: row;
    }
}

/* Mobile responsiveness */
@media screen and (max-width: 767px) {
    .ContactFormList {
        flex-direction: column; 
    }
    
    .ContactFormList img {
        width: 30px; 
    }

    .ContactFormList li {
        font-size: 1em; 
    }
}
